.actions {
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    font-family: var(--font-roboto);
    overflow: hidden;
    width: 100%;
    padding: var(--padding-12xs) var(--padding-8xs);
  }
  .boostIcon {
    height: 100%;
    width: 27.4px;
    position: relative;
    margin: 0 !important;
    top: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    object-fit: contain;
  }
  .boost {
    min-width: 36px;
  }
  .actions,
  .boostAction {
    align-self: center;
    display: flex;
  }
  .boostAction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-3xs-8) 0 var(--padding-3xs-8) 0;
    position: relative;font-size: var(--font-size-lg);
    width: 100%;
  }
  .boostAction .boost_a {
    display: flex;flex-direction: row;align-items: center;justify-content: flex-start;
  }
  .boostAction .boost_a .boosterinna {
    padding-left: var(--padding-8xs);
  }
  .boostAction .boost_b .linka {
    background-color: var(--color-dimgreen);border-radius: var(--br-xs);color: var(--color-white);
    padding: var(--padding-8xs) var(--padding-3xs-8);text-decoration: none !important;
  }
  @media screen and (max-width: 219px) {
    .boostAction {
      flex-wrap: nowrap;
    }
  }
  