.icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.bottomnavmaincinna {
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-500);
  display: flex;
  width: 100%;
  left: 0;right: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-8xs);
  gap: var(--gap-11xs);
  z-index: 1;
  margin: auto;
  color: var(--color-white) !important;
}
.bottomnavmaincinna .link {
  width: 15%;margin: 1% auto;
  text-align: center;align-items: center;
}
.bottomnavmaincinna .link img {
  margin: auto;text-align: center;
}
.bottomnavmaincinna .txt {
  color: var(--color-gray-300) !important;text-align: center;margin: auto;
  padding: var(--padding-11xs) 0 var(--padding-11xs) 0;
}
.bottomnavmaincinna .link:focus, .bottomnavmaincinna .link:active {
  background-color: var(--color-gray-500);border-radius: var(--br-xs);padding: var(--padding-8xs);
}

.bottomnavmain,
.bottomnavmainc {
  flex-direction: row;
  max-width: 100%;
}
.bottomnavmainc {
  flex: 1;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-13xl);
}
.bottomnavmain {
  position: fixed;
  align-self: stretch;
  z-index: 3;
  text-align: left;
  left: 0;right: 0;
  bottom: 0;
  overflow-x: hidden;
  font-size: var(--font-size-4xs);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
  background-color: var(--color-darkslategray-300) !important;
}
@media screen and (max-width: 396px) {
  .bottomnavmainc {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 357px) {
  .bottomnavmainc {
    gap: var(--gap-base);
  }
}
