.main {
  width: 100%;
}
.mainc {
  position: absolute;
  top: 180px;
  bottom: 0;
  overflow-y: auto;
  background-color: var(--color-darkslategray-300);
  border-top-left-radius: var(--br-31xl);
  border-top-right-radius: var(--br-31xl);
  padding: 0 29px 0 var(--padding-9xl);
  gap: 62.1px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto !important;
  margin-bottom: 0 !important;
  z-index: 2;
}

@media screen and (max-width: 381px) {
  .mainc {
    box-sizing: border-box;
  }
}
