.minemain {
  height: 100%;
  background-color: var(--color-dark-bg);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-4xs);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
}
.mined {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-direction: column;
  gap: 23px;
  max-width: 100%;
}
.minec,
.minemain {
  width: 100%;
  border-top-left-radius: var(--br-31xl);border-top-right-radius: var(--br-31xl);
}
.minec {
  position: absolute;
  top: 180px;
  bottom: 0;
  overflow-y: auto;
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  border-top-left-radius: var(--br-31xl);
  border-top-right-radius: var(--br-31xl);
  padding: 0 29px 0 var(--padding-9xl);
  padding: 19.6px 26px 0 var(--padding-11xl);
  box-sizing: border-box;
  gap: 62.1px;
  max-width: 100%;
  height: auto !important;
  margin-bottom: 0 !important;
  z-index: 2;

}

@media screen and (max-width: 407px) {
  .frameParent {
    flex-wrap: wrap;
  }
  .minemain {
    height: 100%;
    min-height: 100%;
  }
}
