.unionIcon {
  width: 0;
  height: 0;
  position: relative;
  display: none;
  z-index: 0;
}
.frameChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: rgba(50, 54, 59, 0.7);
}
.mine {
  position: absolute;
  top: 60%;
  left: 27.72%;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 20px;
}
.unionIcon1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.exchange {
  position: relative;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
}
.unionParent {
  position: absolute;
  height: 83.33%;
  width: 17.66%;
  top: 8.33%;
  right: 80.98%;
  bottom: 8.33%;
  left: 1.36%;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-11xs);
  color: var(--color-white);
}
.airdrop,
.earn,
.friends {
  position: absolute;
  top: 60%;
  left: 47.55%;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 29px;
}
.airdrop,
.earn {
  top: 61.67%;
  left: 69.84%;
  min-width: 18px;
}
.airdrop {
  top: 60%;
  left: 87.77%;
  min-width: 29px;
}
.image2Icon {
  height: 38.33%;
  width: 6.25%;
  top: 15%;
  right: 5.16%;
  bottom: 46.67%;
  left: 88.59%;
  object-fit: cover;
}
.frameItem,
.groupIcon,
.groupIcon1,
.image2Icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon {
  height: 33.33%;
  width: 5.43%;
  top: 18.33%;
  right: 66.85%;
  bottom: 48.33%;
  left: 27.72%;
  object-fit: contain;
}
.frameItem,
.groupIcon1 {
  height: 26.5%;
  width: 8.32%;
  top: 21.67%;
  right: 44.67%;
  bottom: 51.83%;
  left: 47.01%;
}
.frameItem {
  height: 31.67%;
  width: 6.85%;
  top: 18.33%;
  right: 24.95%;
  bottom: 50%;
  left: 68.21%;
  object-fit: cover;
}
.rectangleParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frameInner,
.rootInner {
  position: relative;
  display: none;
  max-width: 100%;
}
.rootInner {
  width: 368px;
  height: 60px;
  z-index: 1;
  color: var(--color-gray-200);
}
.frameInner {
  height: 812.2px;
  width: 428px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gold);
  z-index: 0;
}
.earnPerTap {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
}
.frameChild1 {
  height: 15px;
  width: 15px;
  position: relative;
  min-height: 15px;
}
.div {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 19px;
  white-space: nowrap;
}
.earnPerTapParent,
.frameContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frameContainer {
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-10xs);
  color: var(--color-white);
}
.earnPerTapParent {
  flex: 0.6867;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 88px;
}
.coinsToLevel,
.m {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.m {
  font-weight: 600;
  min-width: 25px;
}
.coinsToLevelUpParent,
.mWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mWrapper {
  flex-direction: row;
  padding: 0 var(--padding-xl);
  color: var(--color-white);
}
.coinsToLevelUpParent {
  flex: 0.9518;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs) 19px var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 88px;
  color: #6f72e2;
}
.profitPerHour {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
}
.frameChild2 {
  height: 15px;
  width: 15px;
  min-height: 15px;
}
.frameChild2,
.k,
.vectorIcon {
  position: relative;
}
.k {
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 47px;
}
.vectorIcon {
  height: 15px;
  width: 15px;
  min-height: 15px;
}
.frameDiv,
.profitPerHourParent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv {
  flex-direction: row;
  gap: var(--gap-10xs);
  color: var(--color-white);
}
.profitPerHourParent {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs) 17px;
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 88px;
  color: #84cb69;
}
.frameGroup,
.instanceWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  margin: 0;
  flex: 1;
  gap: 9px;
  white-space: nowrap;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: #f79841;
  font-family: var(--font-roboto);
}
.instanceWrapper {
  align-self: stretch;
  padding: 0 0 19.5px;
  box-sizing: border-box;
}
.wrapperGroup9Child {
  height: 100%;
  width: 100%;
  z-index: 3;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: -6px;
  transform: scale(1.355);
}
.b,
.wrapperGroup9 {
  position: relative;
  z-index: 3;
}
.wrapperGroup9 {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b {
  flex: 1;
  letter-spacing: -0.02em;
  line-height: 46px;
}
.frameWrapper1,
.wrapperGroup9Parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapperGroup9Parent {
  width: 206px;
  gap: 8px;
}
.frameWrapper1 {
  flex: 1;
}
.div1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
  white-space: nowrap;
  z-index: 3;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.vectorIcon1 {
  height: 15px;
  width: 15px;
  position: relative;
  min-height: 15px;
  z-index: 3;
}
.frameParent2,
.frameParent3 {
  display: flex;
  justify-content: flex-start;
}
.frameParent3 {
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-200);
}
.frameParent2 {
  width: 287px;
  height: 72.5px;
  flex-direction: column;
  align-items: flex-end;
  gap: 11.5px;
}
.dailyCombo {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 65px;
  z-index: 4;
}
.comboContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.rectangleDiv {
  height: 41px;
  width: 367px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 20.5px);
  left: -241px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  z-index: 3;
}
.frameChild3 {
  height: 15px;
  width: 15px;
  position: relative;
}
.frameInput {
  width: calc(100% - 43px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 13.9px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.2px 0 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 13px;
  color: var(--color-white);
  min-width: 39px;
}
.frameChild4 {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.frameParent4 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: #2a2d32;
  justify-content: flex-start;
  padding: 8.5px var(--padding-7xs);
  gap: 7.1px;
  z-index: 4;
}
.comboContainerParent,
.frameParent4,
.rectangleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleContainer {
  width: 122px;
  justify-content: flex-start;
  position: relative;
}
.comboContainerParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.frameParent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 23px;
  max-width: 100%;
}
.frameWrapper {
  width: 351px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-gray-100);
}
.licenseInfo {
  height: 109px;
  width: 117px;
  position: absolute;
  margin: 0 !important;
  bottom: -32px;
  left: -37px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-palegreen);
  box-sizing: border-box;
  z-index: 3;
}
.licenseContainerChild {
  height: 62px;
  width: 49.6px;
  position: relative;
  z-index: 4;
}
.licenseContainer,
.licenseContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.licenseContainer {
  position: relative;
}
.licenseContainerWrapper {
  padding: 0 0 0 2px;
}
.licenceJapan {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 8px;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
  z-index: 4;
}
.deepNestedInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.licenseInfo1 {
  height: 109px;
  width: 117px;
  position: absolute;
  margin: 0 !important;
  bottom: -34px;
  left: calc(50% - 58.5px);
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-palegreen);
  box-sizing: border-box;
  z-index: 3;
}
.image6Icon {
  height: 55px;
  width: 55px;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 4;
}
.qAContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.qaTeam {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 8px;
  font-weight: 500;
  display: inline-block;
  min-width: 27px;
  white-space: nowrap;
  z-index: 4;
}
.qAContainerParent,
.qATitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.qATitle {
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 var(--padding-lg);
}
.qAContainerParent {
  flex-direction: column;
  padding: 0 7px 0 0;
  gap: 15px;
}
.licenseInfo2 {
  height: 109px;
  width: 117px;
  position: absolute;
  margin: 0 !important;
  bottom: -35px;
  left: -38px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-palegreen);
  box-sizing: border-box;
  z-index: 3;
}
.image5Icon {
  height: 59px;
  width: 47px;
  position: relative;
  object-fit: cover;
  z-index: 4;
}
.memeContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.memeCoins {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 8px;
  font-weight: 500;
  display: inline-block;
  min-width: 38px;
  z-index: 4;
}
.memeContainerParent,
.memeTitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.memeTitle {
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 3px;
}
.memeContainerParent {
  flex-direction: column;
  gap: 16px;
}
.nestedInfo {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.nestedInfoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 32px 0 36px;
  font-size: var(--font-size-6xs);
}
.frameChild5 {
  height: 41px;
  width: 367px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  display: none;
  max-width: 100%;
}
.markets {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 43px;
  white-space: nowrap;
}
.marketsWrapper {
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lg);
}
.prteam {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 52px;
  white-space: nowrap;
}
.teamLabels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.legal {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 29px;
  white-space: nowrap;
}
.teamLabels1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.specials {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 44px;
  white-space: nowrap;
}
.teamLabels2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.frameParent5,
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent5 {
  width: 339px;
  overflow-x: auto;
  flex-shrink: 0;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.groupDiv {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  justify-content: flex-start;
  padding: 4px;
  box-sizing: border-box;
  z-index: 3;
  font-size: var(--font-size-xs);
}
.frameChild6 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background: linear-gradient(
    180deg,
    rgba(33, 36, 41, 0.5),
    rgba(249, 216, 56, 0.5)
  );
  z-index: 5;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 23.5px 29px 101.7px;
  box-sizing: border-box;
  position: relative;
  gap: 26px;
  max-width: 100%;
  text-align: left;
  font-size: 40px;
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.rectangleSection {
  height: 413px;
  width: 437px;
  position: absolute;
  margin: 0 !important;
  right: -9px;
  bottom: -28.3px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gold);
  z-index: 6;
}
.mostTradedCryptocurrency {
  position: absolute;
  margin: 0 !important;
  bottom: 177.9px;
  left: calc(50% - 139.5px);
  letter-spacing: -0.02em;
  line-height: 110%;
  z-index: 8;
}
.rectangleGroup {
  margin: 0 !important;
  right: 0;
  bottom: 43.3px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 279px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.frameChild7,
.rectangleGroup,
.rootChild {
  position: absolute;
  left: 0;
  width: 100%;
}
.rootChild {
  height: 851.6px;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-200);
  z-index: 2;
}
.frameChild7 {
  top: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  height: 100%;
}
.excludeIcon {
  position: relative;
  width: 32px;
  height: 32.5px;
}
.frameChild8 {
  position: absolute;
  top: 66.9px;
  left: 0;
  width: 180px;
  height: 0.3px;
}
.lvl13 {
  position: absolute;
  top: 81.2px;
  left: 18.4px;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
}
.frameChild9 {
  position: absolute;
  top: 74px;
  left: 51.4px;
  width: 0;
  height: 24.4px;
  object-fit: contain;
}
.frameChild10 {
  position: absolute;
  top: 78.7px;
  left: 63.4px;
  width: 15px;
  height: 15px;
}
.k1,
.p10Cmc,
.profitPerHour1 {
  letter-spacing: -0.02em;
  display: inline-block;
}
.k1 {
  position: absolute;
  top: 80.2px;
  left: 81.4px;
  font-size: var(--font-size-2xs);
  line-height: 110%;
  font-weight: 600;
  min-width: 41px;
}
.p10Cmc,
.profitPerHour1 {
  position: relative;
  line-height: 10px;
  min-width: 67px;
}
.profitPerHour1 {
  line-height: 8px;
  font-weight: 500;
  min-width: 44px;
}
.frameChild11 {
  height: 11.2px;
  width: 11.2px;
  position: relative;
  min-height: 11px;
}
.k2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
}
.frameParent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs-2);
  font-size: var(--font-size-4xs-2);
  color: var(--color-white);
}
.p10CmcPairsParent,
.profitPerHourGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profitPerHourGroup {
  padding: 0 23px 0 0;
  gap: var(--gap-10xs);
  font-size: var(--font-size-6xs);
  color: var(--color-gray-200);
}
.p10CmcPairsParent {
  position: absolute;
  top: 14.7px;
  left: 63px;
  gap: var(--gap-3xs);
}
.rectangleParent1 {
  width: 180px;
  height: 107.6px;
  position: relative;
  display: none;
  z-index: 4;
}
.frameChild12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  height: 100%;
}
.excludeIcon1 {
  position: relative;
  width: 0;
  height: 0;
  display: none;
}
.image5Icon1 {
  position: absolute;
  top: 14.8px;
  left: 16.7px;
  width: 29.2px;
  height: 36.6px;
  object-fit: cover;
}
.frameChild13 {
  position: absolute;
  top: 66.9px;
  left: 0;
  width: 180px;
  height: 0.3px;
}
.lvl131 {
  position: absolute;
  top: 81.2px;
  left: 18.4px;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
}
.frameChild14 {
  position: absolute;
  top: 74px;
  left: 51.4px;
  width: 0;
  height: 24.4px;
  object-fit: contain;
}
.frameChild15 {
  position: absolute;
  top: 78.7px;
  left: 63.4px;
  width: 15px;
  height: 15px;
}
.k3,
.meneCoins,
.profitPerHour2 {
  letter-spacing: -0.02em;
  display: inline-block;
}
.k3 {
  position: absolute;
  top: 80.2px;
  left: 81.4px;
  font-size: var(--font-size-2xs);
  line-height: 110%;
  font-weight: 600;
  min-width: 35px;
}
.meneCoins,
.profitPerHour2 {
  position: relative;
  line-height: 10px;
  min-width: 45px;
}
.profitPerHour2 {
  line-height: 8px;
  font-weight: 500;
  min-width: 44px;
}
.frameChild16 {
  height: 11.2px;
  width: 11.2px;
  position: relative;
  min-height: 11px;
}
.k4 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 17px;
}
.frameParent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 14px 0 0;
  gap: var(--gap-10xs-2);
  font-size: var(--font-size-4xs-2);
  color: var(--color-white);
}
.meneCoinsParent,
.profitPerHourContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profitPerHourContainer {
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-10xs);
  font-size: var(--font-size-6xs);
  color: var(--color-gray-200);
}
.meneCoinsParent {
  position: absolute;
  top: 14.7px;
  left: 63px;
  gap: var(--gap-3xs);
}
.rectangleParent2 {
  width: 180px;
  height: 107.6px;
  position: relative;
  display: none;
  z-index: 5;
}
.frameChild17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  height: 100%;
}
.excludeIcon2 {
  position: relative;
  width: 0;
  height: 0;
  display: none;
}
.frameChild18 {
  position: absolute;
  top: 66.9px;
  left: 0;
  width: 180px;
  height: 0.3px;
}
.lvl132 {
  position: absolute;
  top: 81.2px;
  left: 18.4px;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
}
.frameChild19 {
  position: absolute;
  top: 74px;
  left: 51.4px;
  width: 0;
  height: 24.4px;
  object-fit: contain;
}
.frameChild20 {
  position: absolute;
  top: 78.7px;
  left: 63.4px;
  width: 15px;
  height: 15px;
}
.k5,
.marginTradingX10,
.profitPerHour3 {
  letter-spacing: -0.02em;
  display: inline-block;
}
.k5 {
  position: absolute;
  top: 80.2px;
  left: 81.4px;
  font-size: var(--font-size-2xs);
  line-height: 110%;
  font-weight: 600;
  min-width: 41px;
}
.marginTradingX10,
.profitPerHour3 {
  position: relative;
  line-height: 10px;
  min-width: 72px;
}
.profitPerHour3 {
  line-height: 8px;
  font-weight: 500;
  min-width: 44px;
}
.frameChild21 {
  height: 11.2px;
  width: 11.2px;
  position: relative;
  min-height: 11px;
}
.k6 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 17px;
}
.frameParent8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs-2);
  font-size: var(--font-size-4xs-2);
  color: var(--color-white);
}
.marginTradingX10Parent,
.profitPerHourParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profitPerHourParent1 {
  padding: 0 var(--padding-9xl) 0 0;
  gap: var(--gap-10xs);
  font-size: var(--font-size-6xs);
  color: var(--color-gray-200);
}
.marginTradingX10Parent {
  position: absolute;
  top: 14.7px;
  left: 63px;
  gap: var(--gap-3xs);
}
.rectangleParent3,
.x10 {
  position: relative;
  display: none;
}
.rectangleParent3 {
  width: 180px;
  height: 107.6px;
  z-index: 6;
}
.x10 {
  font-size: var(--font-size-lg);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-family: var(--font-rubik);
  color: var(--color-darkorange);
  min-width: 31px;
  z-index: 7;
}
.frameChild22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  height: 100%;
}
.excludeIcon3 {
  position: relative;
  width: 0;
  height: 0;
  display: none;
}
.frameChild23 {
  position: absolute;
  top: 66.9px;
  left: 0;
  width: 180px;
  height: 0.3px;
}
.lvl133 {
  position: absolute;
  top: 81.2px;
  left: 18.4px;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
}
.frameChild24 {
  position: absolute;
  top: 74px;
  left: 51.4px;
  width: 0;
  height: 24.4px;
  object-fit: contain;
}
.frameChild25 {
  position: absolute;
  top: 78.7px;
  left: 63.4px;
  width: 15px;
  height: 15px;
}
.k7,
.marginTradingX20,
.profitPerHour4 {
  letter-spacing: -0.02em;
  display: inline-block;
}
.k7 {
  position: absolute;
  top: 80.2px;
  left: 81.4px;
  font-size: var(--font-size-2xs);
  line-height: 110%;
  font-weight: 600;
  min-width: 41px;
}
.marginTradingX20,
.profitPerHour4 {
  position: relative;
  line-height: 10px;
  min-width: 72px;
}
.profitPerHour4 {
  line-height: 8px;
  font-weight: 500;
  min-width: 44px;
}
.frameChild26 {
  height: 11.2px;
  width: 11.2px;
  position: relative;
  min-height: 11px;
}
.k8 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 17px;
}
.frameParent9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs-2);
  font-size: var(--font-size-4xs-2);
  color: var(--color-white);
}
.marginTradingX20Parent,
.profitPerHourParent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profitPerHourParent2 {
  padding: 0 var(--padding-9xl) 0 0;
  gap: var(--gap-10xs);
  font-size: var(--font-size-6xs);
  color: var(--color-gray-200);
}
.marginTradingX20Parent {
  position: absolute;
  top: 14.7px;
  left: 63px;
  gap: var(--gap-3xs);
}
.rectangleParent4,
.x20 {
  position: relative;
  display: none;
}
.rectangleParent4 {
  width: 180px;
  height: 107.6px;
  z-index: 8;
}
.x20 {
  font-size: var(--font-size-lg);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-family: var(--font-rubik);
  color: var(--color-darkorange);
  min-width: 35px;
  z-index: 9;
}
.frameChild27 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  height: 100%;
}
.excludeIcon4 {
  position: relative;
  width: 0;
  height: 0;
  display: none;
}
.frameChild28 {
  position: absolute;
  top: 67px;
  left: 0;
  width: 180px;
  height: 0.3px;
}
.lvl134 {
  position: absolute;
  top: 81.3px;
  left: 18.4px;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
}
.frameChild29 {
  position: absolute;
  top: 74.1px;
  left: 51.4px;
  width: 0;
  height: 24.4px;
  object-fit: contain;
}
.frameChild30 {
  position: absolute;
  top: 78.8px;
  left: 63.4px;
  width: 15px;
  height: 15px;
}
.k9,
.marginTradingX30,
.profitPerHour5 {
  letter-spacing: -0.02em;
  display: inline-block;
}
.k9 {
  position: absolute;
  top: 80.3px;
  left: 81.4px;
  font-size: var(--font-size-2xs);
  line-height: 110%;
  font-weight: 600;
  min-width: 41px;
}
.marginTradingX30,
.profitPerHour5 {
  position: relative;
  line-height: 10px;
  min-width: 72px;
}
.profitPerHour5 {
  line-height: 8px;
  font-weight: 500;
  min-width: 44px;
}
.frameChild31 {
  height: 11.2px;
  width: 11.2px;
  position: relative;
  min-height: 11px;
}
.k10 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 17px;
}
.frameParent10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs-2);
  font-size: var(--font-size-4xs-2);
  color: var(--color-white);
}
.marginTradingX30Parent,
.profitPerHourParent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profitPerHourParent3 {
  padding: 0 var(--padding-9xl) 0 0;
  gap: var(--gap-10xs);
  font-size: var(--font-size-6xs);
  color: var(--color-gray-200);
}
.marginTradingX30Parent {
  position: absolute;
  top: 14.8px;
  left: 63px;
  gap: var(--gap-3xs);
}
.rectangleParent5,
.x30 {
  position: relative;
  display: none;
}
.rectangleParent5 {
  width: 180px;
  height: 107.6px;
  z-index: 10;
}
.x30 {
  font-size: var(--font-size-lg);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-family: var(--font-rubik);
  color: var(--color-darkorange);
  min-width: 35px;
  z-index: 11;
}
.frameChild32 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  height: 100%;
}
.excludeIcon5 {
  position: relative;
  width: 0;
  height: 0;
  display: none;
}
.frameChild33 {
  position: absolute;
  top: 67px;
  left: 0;
  width: 180px;
  height: 0.3px;
}
.lvl135 {
  position: absolute;
  top: 81.3px;
  left: 18.4px;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
}
.frameChild34 {
  position: absolute;
  top: 74.1px;
  left: 51.4px;
  width: 0;
  height: 24.4px;
  object-fit: contain;
}
.frameChild35 {
  position: absolute;
  top: 78.8px;
  left: 63.4px;
  width: 15px;
  height: 15px;
}
.k11,
.marginTradingX50,
.profitPerHour6 {
  letter-spacing: -0.02em;
  display: inline-block;
}
.k11 {
  position: absolute;
  top: 80.3px;
  left: 81.4px;
  font-size: var(--font-size-2xs);
  line-height: 110%;
  font-weight: 600;
  min-width: 41px;
}
.marginTradingX50,
.profitPerHour6 {
  position: relative;
  line-height: 10px;
  min-width: 72px;
}
.profitPerHour6 {
  line-height: 8px;
  font-weight: 500;
  min-width: 44px;
}
.frameChild36 {
  height: 11.2px;
  width: 11.2px;
  position: relative;
  min-height: 11px;
}
.k12 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 17px;
}
.frameParent11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs-2);
  font-size: var(--font-size-4xs-2);
  color: var(--color-white);
}
.marginTradingX50Parent,
.profitPerHourParent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profitPerHourParent4 {
  padding: 0 var(--padding-9xl) 0 0;
  gap: var(--gap-10xs);
  font-size: var(--font-size-6xs);
  color: var(--color-gray-200);
}
.marginTradingX50Parent {
  position: absolute;
  top: 14.8px;
  left: 63px;
  gap: var(--gap-3xs);
}
.rectangleParent6,
.x50 {
  position: relative;
  display: none;
}
.rectangleParent6 {
  width: 180px;
  height: 107.6px;
  z-index: 12;
}
.x50 {
  font-size: var(--font-size-lg);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-family: var(--font-rubik);
  color: var(--color-darkorange);
  min-width: 34px;
  z-index: 13;
}
.frameChild37 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  border: 0.3px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.mine1 {
  position: absolute;
  top: 60%;
  left: 27.72%;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 500;
  color: var(--color-white);
  display: none;
  opacity: 0.5;
}
.unionIcon2 {
  width: 24px;
  height: 24px;
  position: relative;
}
.exchange1 {
  position: relative;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
}
.unionGroup {
  position: absolute;
  height: 83.33%;
  width: 17.66%;
  top: 8.33%;
  right: 80.98%;
  bottom: 8.33%;
  left: 1.36%;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-11xs);
  color: var(--color-white);
}
.airdrop1,
.earn1,
.friends1 {
  position: absolute;
  top: 60%;
  left: 47.55%;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 29px;
}
.airdrop1,
.earn1 {
  top: 61.67%;
  left: 69.84%;
  min-width: 18px;
}
.airdrop1 {
  top: 60%;
  left: 87.77%;
  min-width: 29px;
}
.image2Icon1 {
  height: 38.33%;
  width: 6.25%;
  top: 15%;
  right: 5.16%;
  bottom: 46.67%;
  left: 88.59%;
  object-fit: cover;
}
.frameChild38,
.groupIcon2,
.groupIcon3,
.image2Icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon2 {
  height: 33.33%;
  width: 5.43%;
  top: 18.33%;
  right: 66.85%;
  bottom: 48.33%;
  left: 27.72%;
  object-fit: contain;
  display: none;
}
.frameChild38,
.groupIcon3 {
  height: 26.5%;
  width: 8.32%;
  top: 21.67%;
  right: 44.67%;
  bottom: 51.83%;
  left: 47.01%;
}
.frameChild38 {
  height: 31.67%;
  width: 6.85%;
  top: 18.33%;
  right: 24.95%;
  bottom: 50%;
  left: 68.21%;
  object-fit: cover;
}
.rectangleParent7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.rootInner1,
.unionIcon3 {
  position: relative;
  display: none;
}
.rootInner1 {
  width: 368px;
  height: 60px;
  max-width: 100%;
  z-index: 14;
  color: var(--color-gray-200);
}
.unionIcon3 {
  width: 0;
  height: 0;
}
.groupIcon4,
.mine2 {
  position: absolute;
  left: 22.5px;
}
.groupIcon4 {
  top: 9px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.mine2 {
  top: 33px;
  letter-spacing: -0.02em;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 20px;
}
.unionContainer {
  width: 65px;
  height: 51px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-300);
  display: none;
  z-index: 15;
}
.frameChild39 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 7;
}
.vectorIcon2 {
  position: absolute;
  top: 64.6px;
  left: 179.2px;
  width: 69.6px;
  height: 70.6px;
  z-index: 8;
}
.excludeIcon6,
.wrapperGroup9Item {
  position: absolute;
  top: 8.6px;
  left: 377px;
  width: 24.9px;
  height: 24.9px;
  z-index: 8;
}
.wrapperGroup9Item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: -4px;
  transform: scale(1.354);
}
.wrapperGroup91 {
  position: absolute;
  top: 282.7px;
  left: 149.5px;
  width: 29.1px;
  height: 29.1px;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleParent8 {
  height: 432.9px;
  width: 437px;
  position: absolute;
  margin: 0 !important;
  right: -67.9px;
  bottom: -169.2px;
}
.profitPerHour7,
.top10Cmc {
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.top10Cmc {
  margin: 0;
  align-self: stretch;
  height: 32px;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.profitPerHour7 {
  line-height: 8px;
  font-weight: 500;
  min-width: 44px;
}
.frameChild40 {
  height: 15px;
  width: 15px;
  position: relative;
  min-height: 15px;
}
.div2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  min-width: 25px;
  white-space: nowrap;
}
.frameParent13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--font-size-2xs);
}
.profitPerHourParent5 {
  width: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--font-size-6xs);
  color: var(--color-white);
}
.frameParent12,
.top10CmcPairsParent {
  display: flex;
  justify-content: flex-start;
}
.top10CmcPairsParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  z-index: 9;
}
.frameParent12 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.b1 {
  width: 100.4px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 22.7px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 8;
}
.pairDescription {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 65px;
  text-align: left;
}
.nestedPair,
.pairContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nestedPair {
  flex: 1;
  flex-direction: column;
  gap: 19px;
}
.pairContainer {
  width: 366.5px;
  flex-direction: row;
  padding: 0 var(--padding-9xl);
  box-sizing: border-box;
  max-width: 100%;
}
.goAhead {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 18px;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 66px;
}
.main,
.pairContainerParent,
.root {
  display: flex;
  align-items: flex-start;
}
.main {
  cursor: pointer;
  border: 0;
  padding: 21.1px var(--padding-xl);
  background-color: #5256d5;
  align-self: stretch;
  border-radius: var(--br-mini);
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  z-index: 8;
}
.main:hover {
  background-color: #787dfc;
}
.pairContainerParent,
.root {
  flex-direction: column;
  box-sizing: border-box;
}
.pairContainerParent {
  align-self: stretch;
  justify-content: flex-start;
  padding: 147.7px 21px 25.5px var(--padding-11xl);
  gap: 35.8px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.root {
  width: 100%;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: #1c1f24;
  overflow: hidden;
  justify-content: flex-end;
  padding: 499.1px 0 0;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-4xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 427px) {
  .pairContainerParent {
    padding-top: 96px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 353px) {
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 328px) {
  .nestedInfo {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 310px) {
  .top10CmcPairsParent {
    gap: 27px;
  }
}
@media screen and (max-width: 267px) {
  .comboContainerParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 146px) {
  .coinsToLevelUpParent,
  .earnPerTapParent {
    flex: 1;
  }
}
