.settings {
    width: auto;color: var(--color-white);padding: var(--padding-xs) var(--padding-lg);font-family: var(--font-roboto);
    top: 0;bottom: 0;left: 0;right: 0;height: 100vh;width: auto;
    position: fixed;background-color: var(--color-dark-bg);z-index: 9999;
}
.settings .close {
    position: absolute;right: 2%;font-size: var(--font-size-lg);
}
.settings .settingsc {
    width: 100%;    
}
.settings .header {
    color: var(--color-white);margin: 15px auto;text-align: center;
}
.settings .header h2 {
    font-size: var(--font-size-5xl);
}
.settings .cearn {
    width: 100%;
}
.settings .cearn .cearnc {
    background-color: var(--color-dimgray);border-radius: var(--br-3xs);
    display: flex;margin: 12px auto;flex-direction: row;align-items: center;padding-top: 0;padding-bottom: 8px;
    justify-content: flex-start;font-size: var(--font-size-2xs);font-weight: 600;
}
.settings .cearn .cearnc .img {
    width: 80px;height: 100px;margin-top: -5px;
}
.settings .cearn .cearnc .el {
    display: flex;flex-direction: row;justify-content: flex-start;font-size: var(--font-size-2xs) !important;
}
.settings .cearn .cearnc .el .img1 {
    width: 20px;margin-top: -5px;
}
.settings .mbonuses {
    width: 100%;margin: auto;text-align: center;
}
.settings .mbonuses > div {
    width: 100%;
}
.settings .mbonuses > div button {
    color: var(--color-sandybrown);text-align: center;margin: 10px auto;
    border: none;background-color: transparent;background-color: none;text-decoration: underline;
    font-size: var(--font-size-xs);
}
.settings .mbonuses .bonuseslist {
    width: 100%;text-align: left;margin-left: 0;
}
.settings .mbonuses .bonuseslist h3 {
    font-size: var(--font-size-xs);text-align: left;margin-left: 8%;
}
.settings .mbonuses .bonuseslist .blisthead {
    display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;
    align-items: center;color: var(--color-gray-300);font-size: var(--font-size-xs);
}
.settings .mbonuses .bonuseslist .blisthead div {
    text-align: left;margin: auto;
}
.settings .mbonuses .bonuseslist .blistcon {
    width: 100%;
}
.settings .mbonuses .bonuseslist .blistcon div {
    display: flex;flex-direction: row;align-items: center;justify-content: space-evenly;
}
.settings .mbonuses .bonuseslist .blistcon .bcon {
    background-color: var(--color-dimgray);border-radius: var(--br-3xs);
    margin: 12px 0;
}
.settings .mbonuses .bonuseslist .blistcon .bcon .lvlname {
    font-size: var(--font-size-xs);
}
.settings .mbonuses .bonuseslist .blistcon .bcon .lvl {
    color: var(--color-lightgreen);font-size: var(--font-size-xs);
}
.settings .mbonuses .bonuseslist .blistcon div .img0 {
    width: 60px;margin-top: -5px;
}
.settings .mbonuses .bonuseslist .blistcon div .img1 {
    width: 20px;margin-top: -2px;
}
.settings .settingslist {
    margin: 40px 0;width: 100%;
}
.settings .mbonuses .bonuseslist .blistcon {
    width: 100%;
}
.settings .settingslist .settingslistmainc {
    width: 100%;
}
.settings .settingslist .settingslistmainc .settingscon {
    background-color: var(--color-dimgray);border-radius: var(--br-11xl);
    margin: 12px auto 12px auto;padding: var(--padding-xl) var(--padding-xs);
    display: flex;flex-direction: row;text-align: left;height: 20px;
    align-items: center;justify-content: space-between;
}
.settings .settingslist .settingslistmainc .settingscon .settingscona {
    display: flex;flex-direction: row;align-items: center;justify-content: flex-start;
}
.settings .settingslist .settingslistmainc .settingscon .settingscona .settingsdet {
    font-size: var(--font-size-xs);
    text-align: left !important;width: 100%;align-items: flex-start !important;
}
.settings .settingslist .settingslistmainc .settingscon .settingsdet .settingsname {
    text-align: left !important;margin-left: 0 !important;
    width: 100%;padding-left: 0 !important;
}
.settings .settingslist .settingslistmainc .settingscon .settingsdet .settingsname div {
    color: var(--color-gray-300);
}
.settings .settingslist .settingslistmainc .settingscon .settingscona .settingsdet .lvlname {
    font-size: var(--font-size-xs);
}
.settings .settingslist .settingslistmainc .settingscon .settingscona .settingsdet .settingslvl {
    color: var(--color-lightgreen);font-size: var(--font-size-xs);
    justify-content: flex-start;display: flex;flex-direction: row;
}
.settings .settingslist .settingslistmainc .settingscon .settingsimg {
    width: 40px;height: 40px;margin: auto;text-align: center;align-items: center;
    align-self: center;padding: 0;padding-bottom: 5px;
}
.settings .settingslist .settingslistmainc .settingscon .img1 {
    width: 20px;margin-top: -5px;
}
.settings .settingslist .settingslistmainc .settingscon .settingsconb {
    display: flex;flex-direction: row;align-items: center;justify-content: flex-start;margin-right: 10px;
}
.settings .settingslink {
    width: 100%;
} 
.settings .settingslist h3, .settings .settingslink h3 {
    font-size: var(--font-size-xs);
} 
.settings .settingslink input {
    width: 95%;background-color: var(--color-dimgreen);border-radius: var(--br-3xs);
    padding: var(--padding-xs) var(--padding-4xs);font-size: var(--font-size-xs);
    color: var(--color-white);
}
.settings .settingsbtns {
    width: 100%;margin: 10px 0;
}
.settings .settingslink button.sharebtn {
    background-color: var(--color-dimgreen);border-radius: var(--br-3xs);
    padding: var(--padding-xs) var(--padding-4xs);font-size: var(--font-size-xs);
    color: var(--color-white);border: none;width: 80%;align-self: flex-start;
}
.settings .settingslink button.copybtn {
    background-color: var(--color-dimgreen);border-radius: var(--br-3xs);
    padding: var(--padding-xs) var(--padding-4xs);font-size: var(--font-size-xs);
    color: var(--color-white);border: none;width: 18%;align-self: flex-end;margin-left: 2%;
}

