.top {
    display: flex;flex-direction: row;align-items: center;width: 100%;margin: auto;text-align: center;
    flex-wrap: nowrap;color: var(--color-white);
}
.top > div {
    margin: auto;text-align: center;
}
.top > div button {
    background: none;border: none;background-color: none;color: var(--color-white);
}


  