/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/tasks.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.tasks_tasks__VUApV {
    width: auto;color: var(--color-white);padding: var(--padding-xs) var(--padding-lg);font-family: var(--font-roboto);
    padding-bottom: 80px;
}
.tasks_tasks__VUApV .tasks_tasksc__pIRuc {
    width: 100%;    
}
.tasks_tasks__VUApV .tasks_header__Rk1QB {
    color: var(--color-white);margin: 15px auto;text-align: center;
}
.tasks_tasks__VUApV .tasks_header__Rk1QB .tasks_headerimg__OZct0 {
    width: 60px;
}
.tasks_tasks__VUApV .tasks_cearn__lUdDP {
    width: 100%;
}
.tasks_tasks__VUApV .tasks_cearn__lUdDP .tasks_cearnc__H04Nd {
    background-color: var(--color-dimgray);border-radius: var(--br-3xs);
    display: flex;margin: 12px auto;flex-direction: row;align-items: center;padding-top: 0;padding-bottom: 8px;
    justify-content: flex-start;font-size: var(--font-size-2xs);font-weight: 600;
}
.tasks_tasks__VUApV .tasks_cearn__lUdDP .tasks_cearnc__H04Nd .tasks_img__ovC7i {
    width: 80px;height: 100px;margin-top: -5px;
}
.tasks_tasks__VUApV .tasks_cearn__lUdDP .tasks_cearnc__H04Nd .tasks_el__Jo_k5 {
    display: flex;flex-direction: row;justify-content: flex-start;font-size: var(--font-size-2xs) !important;
}
.tasks_tasks__VUApV .tasks_cearn__lUdDP .tasks_cearnc__H04Nd .tasks_el__Jo_k5 .tasks_img1__0ZoQQ {
    width: 20px;margin-top: -8px;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K {
    width: 100%;margin: auto;text-align: center;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K > div {
    width: 100%;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K > div button {
    color: var(--color-sandybrown);text-align: center;margin: 10px auto;
    border: none;background-color: transparent;background-color: none;text-decoration: underline;
    font-size: var(--font-size-xs);
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S {
    width: 100%;text-align: left;margin-left: 0;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S h3 {
    font-size: var(--font-size-xs);text-align: left;margin-left: 8%;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blisthead__Pexqi {
    display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;
    align-items: center;color: var(--color-gray-300);font-size: var(--font-size-xs);
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blisthead__Pexqi div {
    text-align: left;margin: auto;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blistcon__iaPml {
    width: 100%;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blistcon__iaPml div {
    display: flex;flex-direction: row;align-items: center;justify-content: space-evenly;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blistcon__iaPml .tasks_bcon__R3rGT {
    background-color: var(--color-dimgray);border-radius: var(--br-3xs);
    margin: 12px 0;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blistcon__iaPml .tasks_bcon__R3rGT .tasks_lvlname__2zHFD {
    font-size: var(--font-size-xs);
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blistcon__iaPml .tasks_bcon__R3rGT .tasks_lvl__orIYR {
    color: var(--color-lightgreen);font-size: var(--font-size-xs);
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blistcon__iaPml div .tasks_img0__kqfRv {
    width: 60px;margin-top: -5px;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blistcon__iaPml div .tasks_img1__0ZoQQ {
    width: 20px;margin-top: -5px;
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R {
    margin: 40px 0;width: 100%;
}
.tasks_tasks__VUApV .tasks_mbonuses__yG52K .tasks_bonuseslist__JU2_S .tasks_blistcon__iaPml {
    width: 100%;
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa {
    width: 100%;
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa .tasks_refcon__r2kdL {
    background-color: var(--color-dimgray);border-radius: var(--br-3xs);
    margin: 12px auto 12px auto;display: flex;flex-direction: row;align-items: center;justify-content: space-between;
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa .tasks_refcon__r2kdL div {
    display: flex;flex-direction: row;align-items: center;justify-content: space-evenly;
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa .tasks_refcon__r2kdL .tasks_refdet__WMb5Q {
    font-size: var(--font-size-xs);justify-content: unset;display: block;flex-direction: unset;
    text-align: left !important;width: 100%;align-items: flex-start !important;
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa .tasks_refcon__r2kdL .tasks_refdet__WMb5Q .tasks_refname__FbkIg {
    text-align: left !important;margin-left: 0 !important;
    width: 100%;padding-left: 0 !important;
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa .tasks_refcon__r2kdL .tasks_lvlname__2zHFD {
    font-size: var(--font-size-xs);
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa .tasks_refcon__r2kdL .tasks_lvl__orIYR {
    color: var(--color-lightgreen);font-size: var(--font-size-xs);
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa .tasks_refcon__r2kdL > div {
    margin: auto;text-align: center;
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa .tasks_refcon__r2kdL .tasks_img0__kqfRv {
    width: 40px;height: 60px;margin: 0;text-align: center;background-color: red;align-items: center;
    align-self: center;padding: 0;
}
.tasks_tasks__VUApV .tasks_reflist__aPR9R .tasks_reflistmainc__qvTwa .tasks_refcon__r2kdL .tasks_img1__0ZoQQ {
    width: 20px;margin-top: -5px;
}
.tasks_tasks__VUApV .tasks_reflink__x5KWu {
    width: 100%;
} 
.tasks_tasks__VUApV .tasks_reflist__aPR9R h3, .tasks_tasks__VUApV .tasks_reflink__x5KWu h3 {
    font-size: var(--font-size-xs);
} 
.tasks_tasks__VUApV .tasks_reflink__x5KWu input {
    width: 95%;background-color: var(--color-dimgreen);border-radius: var(--br-3xs);
    padding: var(--padding-xs) var(--padding-4xs);font-size: var(--font-size-xs);
    color: var(--color-white);
}
.tasks_tasks__VUApV .tasks_refbtns__WRX_C {
    width: 100%;margin: 10px 0;
}
.tasks_tasks__VUApV .tasks_reflink__x5KWu button.tasks_sharebtn__FGTn8 {
    background-color: var(--color-dimgreen);border-radius: var(--br-3xs);
    padding: var(--padding-xs) var(--padding-4xs);font-size: var(--font-size-xs);
    color: var(--color-white);border: none;width: 80%;align-self: flex-start;
}
.tasks_tasks__VUApV .tasks_reflink__x5KWu button.tasks_copybtn__wFNJU {
    background-color: var(--color-dimgreen);border-radius: var(--br-3xs);
    padding: var(--padding-xs) var(--padding-4xs);font-size: var(--font-size-xs);
    color: var(--color-white);border: none;width: 18%;align-self: flex-end;margin-left: 2%;
}
.tasks_compultasks__uUXpp {
    margin: 40px 0;
}
.tasks_compultasks__uUXpp h3 {
    font-size: var(--font-size-lg);color: var(--color-white);
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS {
    width: 100%;
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 {
    background-color: var(--color-dimgray);border-radius: var(--br-3xs);
    margin: 12px auto 12px auto;display: flex;align-items: center;justify-content: space-between;
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compulcona__0GI7t {
    display: flex;flex-direction: row;align-items: flex-start;justify-content: flex-start;
    margin: auto 0;text-align: left;
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compuldet__j_b2h {
    font-size: var(--font-size-xs);justify-content: unset;display: block;flex-direction: unset;
    text-align: left !important;width: 100%;align-items: center;
    margin: auto 10px;

}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compuldet__j_b2h .tasks_compulname__FFZDd {
    text-align: left !important;margin-left: 0 !important;
    width: 100%;padding-left: 0 !important;
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compullvlname__TQQui {
    font-size: var(--font-size-xs);
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compullvl__9BTup {
    color: var(--color-lightgray);font-size: var(--font-size-xs);
    display: flex;flex-direction: row;
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compulcona__0GI7t .tasks_compullvl__9BTup {
    margin-top: 6px;
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compulconb___WU_n {
    display: flex;flex-direction: row;align-items: flex-start;justify-content: flex-start;
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compulconb___WU_n .tasks_compullvl__9BTup {
    margin-right: 12px;
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compulconb___WU_n .tasks_chevron__wym7F {
    color: var(--color-lightgray);margin-right: 5px;
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_compulimg__ShGvn {
    width: 60px;height: 50px;margin: auto;text-align: center;align-items: center;
    align-self: center;padding: 0;padding-bottom: 20px;padding: var(--padding-8xs);
}
.tasks_compultasks__uUXpp .tasks_compulmain__RPW_j .tasks_compulmainc__3ebtS .tasks_compulcon__behz5 .tasks_img1__0ZoQQ {
    width: 20px;margin-top: -5px;
}

.tasks_imagecontainer__Sg7Tm {
    position: relative;
    width: 160px;
    height: 160px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  .tasks_image__kqfGV {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    z-index: 2;
  }
  
  .tasks_rays__IYH20 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
      from 0deg,
      rgba(255, 165, 0, 0.1) 0deg,
      rgba(255, 165, 0, 0.7) 30deg,
      rgba(255, 165, 0, 0.1) 60deg,
      rgba(255, 165, 0, 0.7) 90deg,
      rgba(255, 165, 0, 0.1) 120deg,
      rgba(255, 165, 0, 0.7) 150deg,
      rgba(255, 165, 0, 0.1) 180deg,
      rgba(255, 165, 0, 0.7) 210deg,
      rgba(255, 165, 0, 0.1) 240deg,
      rgba(255, 165, 0, 0.7) 270deg,
      rgba(255, 165, 0, 0.1) 300deg,
      rgba(255, 165, 0, 0.7) 330deg,
      rgba(255, 165, 0, 0.1) 360deg
    );
    z-index: 1;
    animation: tasks_rotate__d7kuU 3s linear infinite;
  }
  
  @keyframes tasks_rotate__d7kuU {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/combotasks.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.combotasks_tabmain__cW_cz {
    width: 100%;
}
.combotasks_tabmain_inner__ucjit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    border-radius: var(--br-xs);
    background-color: var(--color-darkdimgray);;
    padding: var(--padding-4xs) var(--padding-8xs);
    box-sizing: border-box;
}
.combotasks_tabmain_inner__ucjit button {
    background-color: var(--color-darkslategray-100);
    border-radius: var(--br-8xs);
    border: none;font-weight: 600;
    font-size: var(--font-size-xs);
    padding: var(--padding-9xs) var(--padding-8xs);
    font-family: var(--font-roboto);
    letter-spacing: 1px;
    color: var(--color-white);
}
.combotasks_active__yd_r6 {
    background-color: var(--color-dimgreen) !important;
}
.combotasks_tabbtn__9bcB5 {
    background-color: var(--color-darkslategray-100) !important;
}
.combotasks_day__IeHu2 h3 {
    font-size: var(--font-size-sm);color: var(--color-lightgray);
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 {
    width: 100%;
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ {
    background-color: var(--color-dimgray);border-radius: var(--br-3xs);
    margin: 12px auto 12px auto;display: flex;align-items: center;justify-content: space-between;
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_daycona__cUl7N {
    display: flex;flex-direction: row;align-items: flex-start;justify-content: flex-start;
    margin: auto 0;text-align: left;
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_daydet__n4XPc {
    font-size: var(--font-size-xs);justify-content: unset;display: block;flex-direction: unset;
    text-align: left !important;width: 100%;align-items: center;
    margin: auto 10px;

}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_daydet__n4XPc .combotasks_dayname__IfN98 {
    text-align: left !important;margin-left: 0 !important;
    width: 100%;padding-left: 0 !important;
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_daylvlname__XUj73 {
    font-size: var(--font-size-xs);
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_daylvl__pe3Ef {
    color: var(--color-lightgray);font-size: var(--font-size-xs);display: flex;flex-direction: row;

}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_daycona__cUl7N .combotasks_daylvl__pe3Ef {
    margin-top: 6px;
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_dayconb__yC0Pw {
    display: flex;flex-direction: row;align-items: flex-start;justify-content: flex-start;
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_dayconb__yC0Pw .combotasks_daylvl__pe3Ef {
    margin-right: 12px;
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_dayconb__yC0Pw .combotasks_chevron__U83tI {
    color: var(--color-lightgray);margin-right: 5px;
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_dayimg__K_ibM {
    width: 60px;height: 50px;margin: auto;text-align: center;align-items: center;
    align-self: center;padding: 0;padding-bottom: 20px;padding: var(--padding-8xs);
}
.combotasks_day__IeHu2 .combotasks_daymain__idgJ5 .combotasks_daymainc__gzxc7 .combotasks_daycon___8iFZ .combotasks_img1__8bacy {
    width: 20px;margin-top: -5px;
}
.combotasks_fdate__iEhjM {
    color: var(--color-dimgreen);
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/bottomnav.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.bottomnav_icon__mrzyP {
  height: 24px;
  width: 24px;
  position: relative;
}
.bottomnav_bottomnavmaincinna__LDHJS {
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-500);
  display: flex;
  width: 100%;
  left: 0;right: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-8xs);
  gap: var(--gap-11xs);
  z-index: 1;
  margin: auto;
  color: var(--color-white) !important;
}
.bottomnav_bottomnavmaincinna__LDHJS .bottomnav_link___t3w0 {
  width: 15%;margin: 1% auto;
  text-align: center;align-items: center;
}
.bottomnav_bottomnavmaincinna__LDHJS .bottomnav_link___t3w0 img {
  margin: auto;text-align: center;
}
.bottomnav_bottomnavmaincinna__LDHJS .bottomnav_txt__hRezO {
  color: var(--color-gray-300) !important;text-align: center;margin: auto;
  padding: var(--padding-11xs) 0 var(--padding-11xs) 0;
}
.bottomnav_bottomnavmaincinna__LDHJS .bottomnav_link___t3w0:focus, .bottomnav_bottomnavmaincinna__LDHJS .bottomnav_link___t3w0:active {
  background-color: var(--color-gray-500);border-radius: var(--br-xs);padding: var(--padding-8xs);
}

.bottomnav_bottomnavmain__p4gbi,
.bottomnav_bottomnavmainc__Jp8QJ {
  flex-direction: row;
  max-width: 100%;
}
.bottomnav_bottomnavmainc__Jp8QJ {
  flex: 1;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-13xl);
}
.bottomnav_bottomnavmain__p4gbi {
  position: fixed;
  align-self: stretch;
  z-index: 3;
  text-align: left;
  left: 0;right: 0;
  bottom: 0;
  overflow-x: hidden;
  font-size: var(--font-size-4xs);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
  background-color: var(--color-darkslategray-300) !important;
}
@media screen and (max-width: 396px) {
  .bottomnav_bottomnavmainc__Jp8QJ {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 357px) {
  .bottomnav_bottomnavmainc__Jp8QJ {
    gap: var(--gap-base);
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/testnetlink.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.testnetlink_testnetlink__roTEz {
    width: auto;background-color: var(--color-dimgray);padding: var(--padding-8xs);
    border-radius: var(--br-60);margin: 52px auto 32px auto;
}
.testnetlink_testnetlinkc__dLfxY {
    width: auto;display: flex;flex-direction: row;align-items: center;
    justify-content: space-between;color: var(--color-lightgray);
}
.testnetlink_testnetlinkc__dLfxY .testnetlink_linka__b0vgd {
    display: flex;flex-direction: row;align-items: flex-start;justify-content: flex-start;
}
.testnetlink_testnetlinkc__dLfxY .testnetlink_timage__DSGQR {
    width: 48px;height: 48px;padding: var(--padding-11xs);
}
.testnetlink_testnetlinkc__dLfxY h3 {
    font-size: var(--font-size-lg);padding-left: var(--padding-11xs);
}
.testnetlink_testnetlinkc__dLfxY .testnetlink_link__S5wX6 {
    color: var(--color-white) !important;background-color: var(--color-darksandybrown);height: 100%;border-radius: var(--br-60);
    height: 38px;align-items: center;text-align: center;margin: auto 0;padding: 15px var(--padding-lg) 0 var(--padding-lg);
    text-decoration: none !important;width: 50px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/topheader.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.topheader_top__kPIFo {
    display: flex;flex-direction: row;align-items: center;width: 100%;margin: auto;text-align: center;
    flex-wrap: nowrap;color: var(--color-white);
}
.topheader_top__kPIFo > div {
    margin: auto;text-align: center;
}
.topheader_top__kPIFo > div button {
    background: none;border: none;background-color: none;color: var(--color-white);
}


  
